* {
	margin: 0;
	padding: 0;
	text-align: center;
}

.red {
	background: #495A80;
	max-width: 800px;
	height: 200px;
	/*position:absolute;
	left: 0;*/
	margin: 0 auto;
}

.red a {
	color: #fff;
	line-height: 1.2;
	text-indent: 2em;
	text-align: left !important;
}

.blue {
	background: #55ccff;
	width: 60%;
	height: 200px;
	position: absolute;
	left:300px ;
	float: left;
}

.green {
	background: #00ffcc;
	width: 100%;
	height: 200px;
	

}