*{
	margin: 0px;
	padding: 0px;
}

body{
	/*background: #030317;*/
	background: linear-gradient(135deg, #F76B1D 0%, #F76B1D 30%, #ffb631 100%) fixed;
	/*background-image: url('https://unsplash.it/1820/800/?random');*/
	opacity: 0,8;
	max-width: 100%;
}

nav {
	width: 100%;
	height: 60px;
	background: #444;
	box-shadow: 0 5px 1px #444;
	/*background-image: url()*/
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
}

h1 {
	font-size:3rem;
	/*align-self: center;*/
	color: #567aa0;
	font-family: "微软雅黑",Arial,Helvetica,sans-serif;
	font-weight:  bolder;
	/*border: 2px solid rgba(255,255,255,0.8);*/
	border-radius: 5px;
	padding-left: 20px;
	margin: 0 auto;
	line-height: 60px;
	/*position: absolute;*/
	/*left: 45%;*/
	box-sizing:border-box;
}

h1 {

}

.box{
	width: 750px;
	height: 280px;
	padding-top: 10%;
	margin: 80px auto;
}

.box .link{
	width: 205px;
	height: 280px;
	margin: 0px 20px;
	float: left;
	position: relative;
	background: #3f4138;
}

.link {
	border: 1px solid #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 3px #;
}

.link .icon{
	display: inline-block;
	width: 100%;
	height: 190px;
	transition:200ms linear;
	-ms-transition:200ms linear;
	-o-transition:200ms linear;
	-moz-transition:200ms linear;
	-webkit-transition:200ms linear;
}

.link-mission .icon{
	background: url("mission.png") no-repeat center center;
}

.link-play .icon{
	background: url("play.png") no-repeat center center;
}

.link-touch .icon{
	background: url("touch.png") no-repeat  center center;
}

.link .icon:hover{
	transform:rotate(360deg) scale(1.2);
	-ms-transform:rotate(360deg) scale(1.2);
	-webkit-transform:rotate(360deg) scale(1.2);
	-o-transform:rotate(360deg) scale(1.2);
	-moz-transform:rotate(360deg) scale(1.2);
}

.button{
	display: block;
	width: 180px;
	height: 50px;
	text-decoration: none;
	line-height: 50px;
	color: #2dcb70;
	font-family: "微软雅黑",Arial,Helvetica,sans-serif;
	font-weight:  bolder;
	border: 2px solid rgba(255,255,255,0.8);
	padding-left: 20px;
	margin: 0 auto;
	box-sizing:border-box;
	background: url("allow.png") no-repeat 130px center;
	position: relative;
	transition:400ms ease;
	-ms-transition:400ms ease;
	-o-transition:400ms ease;
	-moz-transition:400ms ease;
	-webkit-transition:400ms ease;
}

.button:hover{
	border: 2px solid rgba(255,255,255,1);
	background-position: 140px center;
}

.button .line{
	display: block;
	position: absolute;
	background: none;
	transition:300ms ease;
	-ms-transition:300ms ease;
	-o-transition:300ms ease;
	-moz-transition:300ms ease;
	-webkit-transition:300ms ease;
}

.button:hover .line{
	background: #fff;
}

.button .line-top{
	height: 2px;
	width: 0px;
	left: -60%;
	top: -2px;
}

.button:hover .line-top{
	width: 100%;
	left: -2px;
}

.button .line-bottom{
	height: 2px;
	width: 0px;
	right: -60%;
	bottom: -2px;
}

.button:hover .line-bottom{
	width: 100%;
	right: -2px;
}

.button .line-left{
	height: 0px;
	width: 2px;
	left: -2px;
	bottom: -60%;
}

.button:hover .line-left{
	height: 100%;
	bottom: -2px;
}

.button .line-right{
	height: 0px;
	width: 2px;
	right: -2px;
	top: -60%;
}

.button:hover .line-right{
	height: 100%;
	top: -2px;
}

.box .tip{
	position: absolute;
	padding: 0px 14px;
	height: 35px;
	line-height: 35px;
	background: #2dcb70;
	color: #fff;
	top:160px;
	font-size: 16px;
	font-weight: normal;
	text-transform: none;
	margin: 0 auto;
	border-radius: 3px;
	opacity: 0;
}

.tip em{
	font-style: normal;

}

.tip span{
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 7px solid transparent;
	border-top-color: #2dcb70;
	left: 50%;
	margin-left: -3px;
	bottom: -14px;
}

.menu {
	max-height: 70px;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border: 10px solid #333;
	text-align: center;
}

.menu {
	color:#333;
	font-size:20px;
}


footer {
	padding: 0 auto;
	width: 100%;
	height:50px;
	color: #666;
	opacity: 0.8;
	text-align: center;
	position: absolute;
	bottom: 0px;
	background-color: #736151;
}

footer a {
	color: #f0f0f0;
	position: relative;
	top: 15px;
}







@media (max-width: 500px) {
	body {
		background-color: #66ccff;
	}
}









